---
- name: Install Docker
  hosts: all

  tasks:

    - name: Clean up previous acto repo
      file:
        path: /tmp/acto
        state: absent

    - name: Download acto repo
      local_action:
        module: ansible.builtin.git
        archive: /tmp/acto.tar.gz
        clone: yes
        dest: /tmp/acto
        repo: git@github.com:xlab-uiuc/acto.git
        version: main
      run_once: true

    - name: Get the home directory
      become: false
      command: echo $HOME
      register: home

    - name: Copy Acto archive to remote
      ansible.builtin.copy:
        src: /tmp/acto.tar.gz
        dest: "{{ home.stdout }}"

    - name: create Acto dir
      become: false
      ansible.builtin.file:
        path: "{{ home.stdout }}/acto"
        state: directory

    - name: open archive
      ansible.builtin.unarchive:
        copy: true
        dest: "{{ home.stdout }}/acto"
        src: /tmp/acto.tar.gz