[Unit]
Description=Acto ray cluster
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'source {{ user_home }}/.profile && nix develop --command ray start --head --port=6379 --dashboard-host "0.0.0.0" --resources=\'{"disk": 40}\' && tail -f /dev/null'
ExecStop=/bin/bash -c 'source {{ user_home }}/.profile && nix develop --command ray stop'
User={{ ansible_user }}
WorkingDirectory={{ user_home }}/acto

[Install]
WantedBy=multi-user.target