name: python-syntax-checker

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  python-syntax-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: Install Packages
        run: pip install codespell flake8 
      - name: Check Spelling
        run: codespell --skip="./data"|| true  
      - name: Check Syntax Error
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20.5'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          make
      - name: Run unittest
        run: |
          pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=acto | tee pytest-coverage.txt
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
